<ol class="services">
  <li class="service">
    <span class="service__no">01</span>
    <div class="service__body">
      <h3 class="service__title"><a href="/leistungen/dach/">Dach &amp; Abdichtung</a></h3>
      <p class="service__problem">Es tropft, Ziegel sind verrutscht oder das Dach ist in die Jahre gekommen? Wir reparieren, sanieren und dämmen – auch während Sie im Haus wohnen.</p>
      <ul class="service__items">
        <li>Dachsanierung</li><li>Reparaturen</li><li>Dachaufstockung</li><li>Dachfenster</li><li>Dachrinnen</li><li>Abdichtung</li>
      </ul>
    </div>
    <a class="arrow-link service__link" href="/leistungen/dach/">Mehr<span class="visually-hidden"> zu Dach &amp; Abdichtung</span></a>
  </li>
  <li class="service">
    <span class="service__no">02</span>
    <div class="service__body">
      <h3 class="service__title"><a href="/leistungen/daemmung-fassade-energieberatung/">Gebäudehülle &amp; Energie</a></h3>
      <p class="service__problem">Heizkosten zu hoch, Wände feucht, Fassade verwittert? Der Energieberater prüft, was sich lohnt – und wir setzen es selbst um.</p>
      <ul class="service__items">
        <li>Energieberatung</li><li>Dämmung</li><li>Hohlwand-Einblasdämmung</li><li>Fassadenverkleidung</li><li>Verschieferung</li><li>Fenster &amp; Türen</li>
      </ul>
    </div>
    <a class="arrow-link service__link" href="/leistungen/daemmung-fassade-energieberatung/">Mehr<span class="visually-hidden"> zu Gebäudehülle &amp; Energie</span></a>
  </li>
  <li class="service">
    <span class="service__no">03</span>
    <div class="service__body">
      <h3 class="service__title"><a href="/leistungen/holzbau-carport-wintergarten/">Holzbau &amp; Anbauten</a></h3>
      <p class="service__problem">Ein Carport, der zum Haus passt, ein Vordach über der Tür oder ein Wintergarten: geplant und gebaut von der eigenen Zimmerei.</p>
      <ul class="service__items">
        <li>Carports</li><li>Eingangsüberdachungen</li><li>Wintergärten</li><li>Terrassen &amp; Pergolen</li><li>Gartenhäuser</li><li>Garagentore</li>
      </ul>
    </div>
    <a class="arrow-link service__link" href="/leistungen/holzbau-carport-wintergarten/">Mehr<span class="visually-hidden"> zu Holzbau &amp; Anbauten</span></a>
  </li>
  <li class="service">
    <span class="service__no">04</span>
    <div class="service__body">
      <h3 class="service__title"><a href="/leistungen/innenausbau/">Innenausbau</a></h3>
      <p class="service__problem">Der Dachboden steht leer, das Haus ist zu dunkel? Wir machen aus ungenutztem Raum Wohnraum – mit mehr Tageslicht.</p>
      <ul class="service__items">
        <li>Dachgeschossausbau</li><li>Holzfenster</li><li>Türen</li><li>Böden</li><li>Treppen</li>
      </ul>
    </div>
    <a class="arrow-link service__link" href="/leistungen/innenausbau/">Mehr<span class="visually-hidden"> zum Innenausbau</span></a>
  </li>
  <li class="service service--special">
    <span class="service__no">05</span>
    <div class="service__body">
      <h3 class="service__title"><a href="/leistungen/asbestsanierung/">Asbestsanierung</a></h3>
      <p class="service__problem">Wellplatten aus Asbestzement auf Dach, Garage oder Fassade? Wir bauen sie fachgerecht aus, entsorgen sie und decken direkt neu ein.</p>
      <ul class="service__items">
        <li>Ausbau</li><li>Entsorgung</li><li>Neueindeckung</li>
      </ul>
    </div>
    <a class="arrow-link service__link" href="/leistungen/asbestsanierung/">Mehr<span class="visually-hidden"> zur Asbestsanierung</span></a>
  </li>
</ol>
